{% extends "layouts/base.html" %}

{% block title %}チームツイート{% endblock title %}

{% block js %}
<script>
$(function() {
    var chart;
    $(document).ready(function() {
        var chartOptions = {
            chart: {
                renderTo: 'pncount', // id
                type: 'area',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: 'ポジネガ単語数',
                x: -20,
            },
            subtitle: {
            },
            xAxis: {
                type: 'datetime',
                categories: {{ datelist | safe }},
            },
            yAxis: {
                title: {
                    text: 'ツイート数'
                },
                plotLines: [{
                    min: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                    return this.series.name + ' ' + this.x + ' ' + this.y + '件'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: "ポジティブ単語数",
                data: {{ pcountlist | safe }}
            }, {
                name: "ネガティブ単語数",
                data: {{ ncountlist | safe }}
            }]
        };
        chart = new Highcharts.Chart(chartOptions);
    });
});
</script>
{% endblock %}

{% block extrahead %}
<style>
    table {
        margin-top: 8px;
    }
    #datecount {
        margin-top: 100px;
    }
    #trend {
        margin-top: 100px;
    }
    .date {
        width: 20%;
    }
</style>
{% endblock %}

{% block content %}
<h3 class="page-header">チームツイート | {{ team.name }}</h3>
{{ positive_count.result }}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>チーム名</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ team.team_id }}</td>
            <td>{{ team.name }}</td>
        </tr>
    </tbody>
</table>

<div id="pncount"></div>

<table class="table table-striped table-bordered" id="trend">
    <thead>
        <tr>
            <th class="date">created_at</th>
            <th class="tweet">text</th>
        </tr>
    </thead>
    <tbody>
    {% for pt in positive_tweet %}
        <tr>
            <td class="date">{{ pt.created_at }}</td>
            <td class="tweet">{{ pt.text }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<table class="table table-striped table-bordered" id="trend">
    <thead>
        <tr>
            <th class="date">created_at</th>
            <th class="tweet">text</th>
        </tr>
    </thead>
    <tbody>
    {% for nt in negative_tweet %}
        <tr>
            <td class="date">{{ nt.created_at }}</td>
            <td class="tweet">{{ nt.text }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock content %}
